body {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: green;
    background-color: black;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 7vw;
    white-space: nowrap;
}

h3{
    text-align: center;
    font-size: 4vw;
}